/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color: #262929;
  }

  img {
    max-width: 100%;
    display: block;
  }

/* Remove styles from lists with a class */
ul[class],
ol[class],
li[class]
{
  list-style: none;
}
/* TESTING */
.border {
  border: solid red 1px;
}

/* Container wraps entire page */
.container {
    max-width: 1200px;
    margin: auto;
}

/* Neon text */
.neon-heading {
  color: #fff;
  font-family: 'Dosis', Calibri, sans-serif;
  text-transform: uppercase;
  /* font-size: 5rem; */
  font-weight: 200;
  text-align: center;
}

.neon-heading.primary {
  text-shadow: 0px 0px 10px #03fcf0,
    0px 0px 20px #03fcf0,
    0px 0px 30px #03fcf0,
    0px 0px 40px #03fcf0,
    0px 0px 50px #03fcf0,
    0px 0px 60px #03fcf0;
}

.neon-heading.secondary  {
  text-shadow: 0px 0px 10px #ff52d1,
      0px 0px 20px #ff52d1,
      0px 0px 30px #ff52d1,
      0px 0px 40px #ff52d1,
      0px 0px 50px #ff52d1,
      0px 0px 60px #ff52d1;
  /* animation: pulsating 5s infinite; */
}

/* Neon Flickering */
span.flickering-1 {
  animation: flickering-1 4s infinite;
}
span.flickering-2 {
  animation: flickering-2 3s infinite;
}
span.flickering-3 {
  animation: flickering-3 5s infinite;
}

span.flickering-4 {
  animation: flickering-4 6s infinite;
}
          
/* Neon Animations */
@keyframes pulsating {
  0% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
  50% {
      text-shadow: 0px 0px 10px #ff52d1,
          0px 0px 20px #ff52d1,
          0px 0px 30px #ff52d1,
          0px 0px 40px #ff52d1,
          0px 0px 50px #ff52d1,
          0px 0px 60px #ff52d1;
      opacity: 1;
  }
  100% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
}

@keyframes flickering-1 {
  0% { opacity: 1; }
  52% { opacity: 1; }
  55% { opacity: 0; }
  56% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-2 {
  0% { opacity: 1; }
  62% { opacity: 1; }
  65% { opacity: 0; }
  66% { opacity: 1; }
  69% { opacity: 0; }
  70% { opacity: 1; }
  73% { opacity: 0; }
  74% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-3 {
  0% { opacity: 1; }
  82% { opacity: 1; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  87% { opacity: 0; }
  88% { opacity: 1; }
  90% { opacity: 0; }
  91% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-4 {
  0% { opacity: 1; }
  52% { opacity: 1; }
  55% { opacity: 0; }
  56% { opacity: 1; }
  100% { opacity: 1; }
}

/* End Neon text */

/* Navbar */
.navbar {
  height: 100%; /* 100% Full-height */
  width: 5%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
}

.navbar-links {
  /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly; */

  height: 100vh;
  
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  align-self: stretch;

  place-items: center;

}



.navbar-links i {
  color: #708782;
  transition: ease-in-out 0.2s;
}

.navbar-links i:hover {
  color: #fff;

  text-shadow: 0px 0px 10px #03fcf0,
  0px 0px 20px #03fcf0,
  0px 0px 30px #03fcf0,
  0px 0px 40px #03fcf0,
  0px 0px 50px #03fcf0,
  0px 0px 60px #03fcf0;

  /* transition: ease-in-out 0.5s; */

}





/* END Navbar */


/* Main Section */
.main-section {
  min-height: 100vh;


}

.main-headings {

}

.main-div {
  min-height: 95vh;
    /* Center main part */
    display: grid;
    place-items: center;

}

.main-headings h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}

.main-headings h2 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

.arrow {
  min-height: 5vh;



  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow i {

  position: fixed;

  color: #fff;

  text-shadow: 0px 0px 10px #ff52d1,
      0px 0px 20px #ff52d1,
      0px 0px 30px #ff52d1,
      0px 0px 40px #ff52d1,
      0px 0px 50px #ff52d1,
      0px 0px 60px #ff52d1;

  /* transition: ease-in-out 0.5s; */
}


/* END Main section */

/* About Section */

.about-section {
  min-height: 100vh;

  /* Margin to avoid neon overflow to above section */
  margin-top: 5rem;
}

.about-section a {
  text-decoration: none;
}

.about-headings h2 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
}





/* END About Section */

/* Projects Section */
.project-section {
  min-height: 100vh;

  /* Margin to avoid neon overflow to above section */
  margin-top: 5rem;
}

.project-headings h2 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* END Projects Section */

/* Contact Section */
.contact-section {
  min-height: 100vh;

  /* Margin to avoid neon overflow to above section */
  margin-top: 5rem;
}

.contact-headings h2 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* END Contact Section */
